@import '../../static/style/color.less';

.creative{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-avatar{
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
    }
    &-name{
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
        font-weight: 600;
    }
    &-profession{
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }
    &-location{
        font-size: 1rem;
        margin-bottom: 1.2rem;
        &-icon {
            margin-right: 0.4rem;
        }
    }
    &-follow{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.5rem;
        height: 2.4rem;
        border-radius: 1.2rem;
        color: @light;
        font-size: 1.2rem;
        cursor: pointer;
        border: 1px solid transparent;
        background-color: @black;
        color: @light;
        transition: all .3s ease;
        &-text{
            line-height: 1;
        }
        &:hover, &:active{
            border: 1px solid #fff;
            background-color: @dark;
            box-shadow: 
                0 0 .1rem #fff,
                inset 0 0 .1rem #fff,
                0 0 1rem @pink,
                inset 0 0 1rem @pink;
            text-shadow:
                -0.2rem -0.2rem 0.5rem @pink,
                0.2rem 0.2rem 0.5rem @pink,
        }
    }
}